<%- include('./partials/header') %>
<div class="homepage">
  <section class="index-section">
    <h1><%= title %></h1>
    <h2>Welcome to <%= title %></h2>
  </section>
</div>

<%- include('./partials/footer') %>