<%- include('../partials/head') %>

</head>

<%- include('../partials/header') %>

<h1><%= title %></h1>

<p class="tip">Reference <a href="https://thesneakerdatabase.com/sneakers" style="text-decoration: underline" target="_blank">The Sneaker Database</a> for accurate sneaker data!</p>

<form action="/sneakers" method="POST" class="sneaker-form">
  <label>Model
    <input type="text" name="model" placeholder="Brand & Model (ex: Air Jordan 1 High)" required>
  </label>
  <label>Name
    <input type="text" name="name" placeholder="Nickname (ex: Chicago)" required>
  </label>
  <label>Colorway
    <input type="text" name="color" placeholder="Color Combination" required>
  </label>
  <label>Release Date
    <input type="date" name="release" value="1985-04-01" required>
  </label>
  <label>Retail Price
    <input type="number" name="retail" placeholder="0" required>
  </label>
  <label>SKU Number
    <input type="text" name="sku" required>
  </label>
  <label>Image URL
    <input type="text" name="image" placeholder="Link to image URL">
  </label>
  <div class="btn-container">
    <button type="submit" class="button">Submit</button>
    <button type="reset" class="button">Reset Form</button>
  </div>
</form>

<%- include('../partials/footer') %>